<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.feup_cmeb_group7.app1_blood_pressure">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app1_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App1_Blood_Pressure">
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".QRActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>